@import './../../../styles.scss';

.preview {
    height: 80vh;
}

.preview-product {
    width: 500px;
}

.preview-image {
    transition: transform .2s;
    :hover {
        transform: scale(1.5)
    }
}

.out-of-stock {
    color: $indianred;
}